<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='type.css') }}">
    <title>Ambivert</title>
</head>
<body>

    <h1>You are <span id="bounce">Ambivert</span></h1>
    <img src="{{ url_for('static', filename='ambivert-removebg-preview.png') }}" alt="" width="600" height="300">
    <p>An <b>Ambivert</b> is someone who displays qualities of both introversion and extroversion. Ambiverts might enjoy a mix of 
        extroversion-introversion preferences, which can mean they experience validation through both alone time and social situations. 
        Both are necessary depending on the person’s mood or desires.</p>
    
</body>
</html>