<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='type.css') }}">
    <title>Extrovert</title>
</head>
<body>

    <h1>You are <span id="bounce">Extrovert</span></h1>
    <img src="{{ url_for('static', filename='extrovert.png') }}" alt="" width="300" height="300">
    <p>An <b>Extrovert</b> is an outgoing person who thrives in a stimulating environment. Whether at work or doing social activities, 
        extroverts shine in group settings and feel energized by the company of others. Personality traits of extroverts include impulsivity, 
        comfort in social settings, and outgoingness. For extroverts, engaging in social gatherings and being the center of attention brings 
        extroverts joy and validation.</p>
    
</body>
</html>