<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='type.css') }}">
    <title>Introvert</title>
</head>
<body>

    <h1>You are <span id="bounce">Introvert</span></h1>
    <img src="{{ url_for('static', filename='introvert.png') }}" alt="">
    <p>An <b>Introvert</b> is a person who prefers alone time and minimal social situations. Introverts like smaller or more intimate social events, 
        as larger ones demand more energy. For this reason, introverted people tend to have a small group of close friends. 
        Introverts are often self-aware, contemplative, and considerate because they spend more time alone with their thoughts and 
        practice solitary hobbies.</p>
    
</body>
</html>